.side-bar {
  position: absolute;
  height: 100%;
  box-sizing: border-box;
  // -webkit-user-select: none;
  -webkit-app-region: drag;
  padding: 10px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(145, 202, 255, 0.4);
  border-radius: 8px;
  .icon-bar {
    display: inline-flex;
    flex-direction: column;
  }
  .icon-item {
    -webkit-app-region: no-drag;
    box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.8);
    background-color: #fff;
    display: inline-block;
    width: 3em;
    height: 3em;
    margin-bottom: 20px;
    border-radius: 6px;
    text-align: center;
    line-height: 3em;
    img {
      cursor: pointer;
      width: 3em;
      height: 3em;
      border-radius: 6px;
    }
    .icon-img {
      font-size: 2.2em;
      vertical-align: middle;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
